<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [opened]="false" class="app-sidenav">
    <mat-toolbar>
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </a>
      <a mat-list-item routerLink="/jobs/list" (click)="sidenav.close()">
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <span matListItemTitle>Jobs</span>
      </a>
      <a mat-list-item routerLink="/clients/list" (click)="sidenav.close()">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Clients</span>
      </a>
      <a mat-list-item routerLink="/dashboard" (click)="sidenav.close()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button matIconButton (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Quantify</span>
      <span class="toolbar-spacer"></span> <button matButton routerLink="/about">About</button>
      <button matButton routerLink="/contact">Contact</button>
      <button matIconButton>
        <mat-icon>settings</mat-icon>
      </button>
      <button matButton *ngIf="!isLoggedIn" (click)="login()">Login</button>
      <button matButton *ngIf="isLoggedIn" (click)="logout()">Logout</button>
      <span *ngIf="isLoggedIn">{{userName}}</span>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>